<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" formControlName="name" placeholder="Email" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="Password" type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button  type="submit" color="success" expand="block">Sign In</ion-button>
        <hr>
        <ion-button [routerLink]="['/forgotpassword']" expand="block" color="primary">Forgot Password?</ion-button>
        <hr>
        <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>