<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar color="primary">
        <!-- <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons> -->
        <ion-title>Profile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/profile']"  >
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
</ion-app>