<ion-app>
  <!-- <ion-header translucent>
    <ion-toolbar color="primary">
      <ion-title>Question (सवाल) 
        <span class="ion-float-right">1/2</span>
      </ion-title>
    </ion-toolbar> -->
  <!-- </ion-header> -->
  <ion-content fullscreen>
    <!-- <ion-card>
        <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg"/>
        <div class="card-title">São Paulo</div>
        <div class="card-subtitle">41 Listings</div>
    </ion-card> -->
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="http://envato.jayasankarkr.in/code/profile/assets/img/profile-2.jpg">
        </ion-avatar>
        <ion-label>
          <h3>John Doe</h3>
          <p>Dec 10, 2019</p>
        </ion-label>
      </ion-item>
  
      <ion-list>
        
        <ion-item>
          <ion-label>Right Answer</ion-label>
          <ion-note slot="end" color="success">1</ion-note>
        </ion-item>

        <ion-item>
          <ion-label>Wrong Answer</ion-label>
          <ion-note slot="end" color="danger">99</ion-note>
        </ion-item>

        
      </ion-list>
    
     
    </ion-card>
  </ion-content>
</ion-app>